header{
	width:100%;
	height:15%;
}

body{
	 width:90%;
	 margin-left:5%;
	 background-color:#F5FFFA;
}

.container{
	width:100%;	
}

.nav-link , .navbar-brand{
 cursor: pointer;
}

.nav-link{
 margin-right: 0 !important;
}

.navbar-collapse{
 justify-content: flex-end;
}
input{
	width:50%!important;
}
label{
	width:30%Qimportant;
}
