 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8">
	<title>Weather viewer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>

<body>
	<header class="mt-2 mb-2" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-3">		
				</div>
				<div class="col-md-9">
					<h1>Weather viewer</h1>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</header>
	
	<div class='container'>
	<nav class="navbar navbar-expand-lg top ">
		<a class="navbar-brand" th:href="@{/}" >Home</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   		 <span class="navbar-toggler-icon"></span>
 		 </button>
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
     
   		</div>
	</nav>
	</div>

	<div class='container'>
		
		<div class="row align-items-start">
			<div class="col-lg-2">
			</div>
			
			<!-- on exception -->
			<div class="col-lg-8" th:if="${exception}">
			 <h2>Error page</h2>
			  <p>Application has encountered an error</p>
			  <p>Failed URL: <span th:text="${url}"></span></p> 
			  <p>Exception:  <span th:text="${exception}"></span></p>  
    		</div>
    		
    		<!-- if the address is incorrect -->
    		<div class="col-lg-8" th:if="${exception==null}">
			 <h2>Error page</h2>
			  <p>Application has encountered an error</p>
			  <p>Page not found</p> 
    		</div>
    		
		</div>
	
	</div>
	
	
  	<script src="https://yastatic.net/jquery/3.3.1/jquery.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" th:href="@{/js/index.js}"></script>	
</body>

</html>
    